# 1  List Processing

Trace this code and provide the output. Add a statement print(dogs) and run the program to verify you are correct.

In [ ]:
dogs = ["Fido", "Rover"]
dogs.pop(1)
pets = ["Spot","Max", "Buster"]
for p in pets:
    dogs.append(p)
dogs.remove("Max")
dogs.append("Buster")
dogs.insert(3, "Coach")
dogs = ["Beagle" if dog == "Buster" else dog for dog in dogs]
dogs = dogs[::-1]
print(dogs)

Given the 3 lists below, create, in one line of code, a list of tuples containing the name, animal type, and age of each animal.

Sample output:

```
[('Snowball', 'Cat', 1), ('Chewy', 'Dog', 2), ('Bubbles', 'Fish', 2), ('Gruff', 'Goat', 6)]

```

In [4]:
name = ['Snowball', 'Chewy', 'Bubbles', 'Gruff']
animal = ['Cat', 'Dog', 'Fish', 'Goat']
age = [1, 2, 2, 6]
combined = [(name, animal,age) for name, animal, age in zip(name, animal, age)] 
print(list(combined))

[('Snowball', 'Cat', 1), ('Chewy', 'Dog', 2), ('Bubbles', 'Fish', 2), ('Gruff', 'Goat', 6)]

In [5]:
for tup in zip(name,animal,age):
    print(tup)

('Snowball', 'Cat', 1)
('Chewy', 'Dog', 2)
('Bubbles', 'Fish', 2)
('Gruff', 'Goat', 6)

# 2 Dictionaries

(a) Write code to create a dictionary named dict_colors, where the keys are colors in the color list, and their values are random numbers between 1 and 100. Print the dictionary.

(b) Modify the dictionary to increase each value by 1, and print the resulting dictionary.

(c) Find smallest value of any color in the dictionary.  Print the smallest value.

(d) Remove the color(s) with the smallest value from the dictionary. Hint:  You must create a copy to iterate over as changing the size of the dictionary inside of a loop causes a RunTimeError. Iterate over the key, value pairs in your dictionary copy using items() and compare each value to the value you are looking for. If they match, delete the key from the dictionary.

Sample output:

```
{'red': 99, 'green': 2, 'blue': 3, 'yellow': 14}
{'red': 100, 'green': 3, 'blue': 4, 'yellow': 15}
Smallest:  3
{'red': 100, 'blue': 4, 'yellow': 15}
```

In [ ]:
import random 
colors = ["red","green","blue","yellow"]



# for color in colors:
#    dict_colors[color] = random.randint(1,100)
    

#  code for part (a) - assign random values to each color
#  and store in a dictionary
dict_colors = {color : random.randint(1,100) for color in colors}
print(dict_colors)

#  code for part (b) - increase each color value by 1
for color in dict_colors:
    dict_colors[color] += 1
print(dict_colors)


#  code for part (c) - find the smallest value

smallest = 100  # replace with your code
for color in dict_colors:
    if dict_colors[color] < smallest:
        smallest = dict_colors[color]
print("Smallest: ", smallest)


#  code for part (d) - remove each color with the smallest value
new_dict = {}
for color, value in dict_colors.items():
    if dict_colors[color] != smallest:
        new_dict[color] = value
dict_colors = new_dict        
print(dict_colors)

In [2]:
# sample dict_colors
dict_colors.items()

In [11]:
# sample adding key and value to a dict
d = dict()
d['key'] = 0
d

{'key': 0}

# 3 Dictionary of Lists
Write code to perform both calculations described.

(a) write code to determine the most price of the most expensive hotel in each city.

(b) write code to determine the mosst expensive hotel among all of the cities, and the city in which it is located.

Sample output. 
```
The most expensive hotel in Amsterdam costs $190.00.
The most expensive hotel in Athens costs $126.00.
The most expensive hotel in Bangkok costs $194.00.
The most expensive hotel in Barcelona costs $165.00.

The most expensive hotel is in Bangkok and costs $194.00.
```

In [29]:
hotel_prices = {"Amsterdam":[ 185, 174, 190],
                "Athens": [126, 118, 96],
                "Bangkok": [86, 91, 194],
                "Barcelona": [165, 151, 115]}

# (a) write code to determine the most price of the most expensive hotel in each city.
for city in hotel_prices:
    print(f"The most expensive hotel in {city} costs ${max(hotel_prices[city]):.2f}")
# (b) write code to determine the most expensive hotel among all of the cities, 
#     and the city in which it is located.
maxi = 0
for city in hotel_prices:
    if max(hotel_prices[city]) > maxi:
        maxi = max(hotel_prices[city])
        
for city in hotel_prices:
    if max(hotel_prices[city]) == maxi:
        print(f"{city} = {max(hotel_prices[city])}")

The most expensive hotel in Amsterdam costs $190.00
The most expensive hotel in Athens costs $126.00
The most expensive hotel in Bangkok costs $194.00
The most expensive hotel in Barcelona costs $165.00
Bangkok = 194

In [21]:
max([185,174,190])

190

# 4 List of Dictionaries

Given the list of dictionaries below, print each person's name and age, and then print the name and age of the youngest person.

```
Miraj 30
Tamara 24
Lelise 25
Phung 27
Tamara is the youngest, at age 24
```

In [36]:
data = [ {"name": "Miraj", "age": 30, "salary": 80000},
         {"name": "Tamara", "age": 24, "salary": 90000},
        {"name": "Lelise", "age": 25, "salary": 65000},
        {"name": "Phung", "age": 27, "salary": 74000}]

# your code here
for emp in data:
    print(f"{emp['name']:8} {emp['age']:>4}")

Miraj      30
Tamara     24
Lelise     25
Phung      27

# 5  List Comprehensions and Lists of Lists

Write a list comprehension to create a new list removing every even number from my_list

In [38]:
my_list = [1,2,4,5,6,3,10,2,4]
odds = [x for x in my_list if x % 2]  # replace this line with your solution


print(odds)

[1, 5, 3]

Create a multiplication table represented as a list of lists containing the products of numbers from 1x1 to 4x4 using a list comprehension.  


```
[[1, 2, 3, 4], [2, 4, 6, 8], [3, 6, 9, 12], [4, 8, 12, 16]]
```

In [42]:
table = [[i * j for i in range(1,5)] for j in range(1,5)] #  replace this line with your solution
for row in table:
    print(row)

[1, 2, 3, 4]
[2, 4, 6, 8]
[3, 6, 9, 12]
[4, 8, 12, 16]

# 6 Functions

Write a function that takes a list as a parameter and calculates the product of the first and last numbers in the list. Your function should work with the main program provided.


```
[2, 4, 6] 12
```

In [44]:
# replace the function definition statement and the code for the function
def first_x_last(values):  
    # remove the pass statement and replace with your code
    pass

def main():
    my_list = [2, 4, 6]
    result = first_x_last(my_list)
    print(my_list, result)

main()

[2, 4, 6] 12

In [ ]:
# if you want your notebooks to look like mine, run pip install jupyterthemes
# https://github.com/dunovank/jupyter-themes (reference)
# once installed you can run the code below (or at the command line)
!jt -t onedork -ofs 12

Write a function addItemQuant(dict, item, quantity=1) that has three arguments:


*   dict, a dictionary
*   item, the item to add to a dictionary
*   quantity (optional argument with a default value of 1)

The function returns the dictionary with the item (as key) added and its value is increased by the value of quantity.  If no value of quantity is passed in when the function is called, the function uses the default value of 1.

In [ ]:
def addItemQuant(): # add the parameters to the parameter list
    # replace the pass statement with your code
    pass

fowl = {}
fowl = addItemQuant(fowl, "chicken",3)
fowl = addItemQuant(fowl, "goose")
fowl = addItemQuant(fowl, "turkey", 4)
fowl = addItemQuant(fowl, "turkey")
print(fowl)

{'chicken': 3, 'goose': 1, 'turkey': 5}